{% load static %}
<!DOCTYPE html>
<html lang="en, ar">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>SignUp GeologySD</title>
    <meta name="description" content="SignUp in GeologySD">
    <meta name="keywords" content="signup geologysd">
    <link rel="home" href="{% url 'geology:home' %}"/>

    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/swiper@7.0.5/swiper-bundle.min.css">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    {% load django_bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body class="bg-dark text-light p-5 ">
    {% include 'messages.html' %}
    <div class="container row row-cols-md-3 bg-dark align-items-center  p-3">
        <h1 class="text-info">SignUp
        <a href="{% url 'geology:home' %}" class="btn btn-lg btn-outline-warning" title="Go to home page"><span class="bold">GeologySD</span></a></h1>
        
        <div class=" bg-light text-black card g-md-3 p-3">
        <form action="{% url 'authentication:signup' %}" method="post" >
                {% csrf_token %}
                <div class="form-group text-center">
                    <a href="{% url 'authentication:signin' %}">Already have Account</a>
                </div>
                <div>
                <label>Username</label>
                <input type="text" id="username" name="username" placeholder="Create your user name (only lattres and nambers)" required>
                </div>
            
                <div>
                <label>Farst Name</label>
                <input type="text" id="fname" name="fname" placeholder=" Enter Your first name (only lattres)" required>
                </div>
                <div>
                <label>Last Name</label>
                <input type="text" id="lname" name="lname" placeholder="Enter your last name (only lattres)" required>
                </div>
                <div>
                <label>Email</label>
                <input type="email" id="email" name="email" placeholder="Enter your Email Address" required>
                </div>
                <div>
                {{pass1.errors}}
                <label>Password</label>
                <input type="password" id="pass1" name="pass1" placeholder="Enter your Password" class="form-control" required>
                </div>
                <div>
                    {{pass2.password2.errors}}
                <label>Conferm Password</label>
                <input type="password" id="pass2" name="pass2" placeholder="Conferm you password" class="form-control"  required>
                </div>
                <br/>
                <input type="submit" value="SignUp" class="btn btn-outline-dark  p-2">
        </form>
    </div>
    </div>
</body>
</html>