body {
  scroll-behavior: smooth;
}


/* Table of contents */
.bd-aside .btn {
  padding: .1875rem .5rem;
  margin-top: .125rem;
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.bd-aside a {
  padding: .1875rem .5rem;
  margin-top: .125rem;
  color: rgba(255, 255, 255, 0.748);
  text-decoration: none;
}

.bd-aside a:hover,
.bd-aside a:focus {
  color: rgba(247, 241, 126, 0.973);
  background-color: rgba(121, 82, 179, .1);
}

.bd-aside .active {
  font-weight: 600;
  color: rgb(245, 226, 17);
}


.bd-aside .btn:hover,
.bd-aside .btn:focus {
  color: rgba(0, 0, 0, 0.85);
  background-color: rgba(121, 82, 179, .1);
}

.bd-aside .btn:focus {
  box-shadow: 0 0 0 1px rgba(121, 82, 179, .7);
}

.bd-aside .btn::before {
  width: 1.25em;
  line-height: 0;
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
  transition: transform .35s ease;

  /* rtl:raw:
  transform: rotate(180deg) translateX(-2px);
  */
  transform-origin: .5em 50%;
}

.bd-aside .btn[aria-expanded="true"]::before {
  transform: rotate(90deg)/* rtl:ignore */;
}


/* Examples */
.scrollspy-example {
  position: absolute;
  height: 200px;
  margin-top: 5rem;
  overflow: auto;
}




  .bd-header {
    position: fixed;
    top: 0;
    /* rtl:begin:ignore */
    right: 0;
    left: 0;
    /* rtl:end:ignore */
    z-index: 1030;
    grid-column: 1 / span 3;
  }

  .bd-aside,
  .bd-cheatsheet {
    padding-top: 1rem;
  }

