{% extends 'base.html' %}

{% block content %}
<div class="container bg-dark text-white p-3" width="100%">
   <div class="row">
       <div class="col p-3">
         <form method="post" enctype="multipart/form-data" >
            {% csrf_token %}
            {{form.media}}
            <div class="form-row">
               <div class="">
                  <div class="form-group">
                     <label class="small mb-1">Title:</label>
                        {{ form.title }}
                     <label class="small mb-1">Key words:</label>
                        {{ form.key_word }}
                     <label class="small mb-1">Intro:</label>
                        {{ form.intro_repo }}
                        {% if reports.author.user.is_staff %}
                        <label class="small mb-1">Post Details:</label>
                           <p class="text-black bg-light p-2">{{ form.repo_prograph }}</p>
                           {% else %}
                        <label class="small mb-1">Post Details:</label> <span class="text-info p-2">drag & drop</span>or <span class="text-info">paste</span> to insert an image
                           <p class="text-black bg-light p-2">{{ form.repo_prograph_users }}</p>
                           {% endif %}
                       
                  </div>
               </div>
            </div>
            <br>
            <button type="submit" class="btn btn-sm btn-outline-warning btn-lg">Save Changes</button>
            <button type="reset" class="btn btn-sm btn-outline-warning btn-lg">Reset</button>
            <a href="{% url 'geology:report' reports.id %}"  class="btn btn-sm btn-outline-warning btn-lg">Back</a>
         </form>
      </div>
      
  </div>
  </div>
{% endblock %}