{% extends 'base.html' %}
{% load static %}

{% block content %}
<br/>
<div class="container bg-dark text-white p-3">
    {% include 'messages.html' %}
    
        <div class="row">
            <div class="col">
                <form action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
            
                    {{form.media}}
                    {{form.as_p}}
                    
                    <br/>
                    <input type="submit" class="btn btn-outline-light" value="Update" >
                    <a href="{% url 'provile:adminpage' %}" class="btn btn-outline-light">Back</a>
                </form>
            </div>
        </div>
</div>
{% endblock %}