{% extends 'base.html' %}
{% load static %}

{% block title %}{{user.author.user.first_name|title}} Profile{% endblock %}
{% block author %}{{user.author.user.first_name|title}} {{user.author.user.last_name|title}}{%endblock%}
{% block description %}{{user.author.user_bio}}{% endblock %}
{% block keywords %}geologysd, GeologySD, {{user.author.user.first_name|title}} {% endblock %}
{% block bootstrap5 %}
    {% load django_bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
{%endblock%}
{% block header %}
  {% include 'nav.html' %}
{%endblock%}
{% block content %}
{% include 'messages.html' %}
<!--===================================
    Header section| avatar, username, user department, user bio, button
  ====================================-->
  <section class="bg-black">
    <div class="bannerSection">
      <div class="container bg-dark p-5 text-white">
        <div class="row g-4 g-md-3  align-items-center">
          <div class="col-md-auto order-md-last">
            <div class="bannerUserImg">
              <a href="{{user.author.avatar.url}}"><img src="{{user.author.avatar.url}}" alt="{{user.author.user.first_name|title}} avatar"></a>
            </div>
          </div>
          <div class="col-md">
            <div class="bannerContent">
              <h1 class="xlTitle pb-3 ">Hi, 
                {% if user.author.degree == None %} 
                {% else %}
                <span class="text-warning">{{user.author.degree}}</span>:
                {% endif %}
                {{user.author.user.first_name|title}} {{user.author.user.last_name|title}}, 
                
              {% if not None %}
              <br> {{user.author.title|title}}</h1>
              <p>{{user.author.user_bio}}</p>
              {% else %}
              
            
              {% endif %}
              <div class="col-auto">
                  
                <a download href="{{user.author.cv.url}}" class="btn btn-warning">Download My CV</a>

              </div>
              <div class="bannerBtnCol">
                <div class="row">
                  <div class="col-auto">
                    <a href="{% url 'geology:repo_form' %}" class="btn btn-outline-warning">Post</a>
                </div>
                  <div class="col-auto">
                    <a class="btn btn-outline-warning dropdown-toggle" href="#dropdown01"  data-bs-toggle="dropdown"  aria-expanded="false">Settings</a>
                    <ul class="dropdown-menu" aria-labelledby="dropdown01">
                      <li><a class="dropdown-item" href="{% url 'provile:userprofile'%}">Update Profile</a></li><hr>
                      <li><a class="dropdown-item" href="{% url 'provile:media' %}">Update Contact</a></li><hr>
                      <li><a class="dropdown-item" href="{% url 'provile:skill' %}">Add New Skills</a></li><hr>
                      <li><a class="dropdown-item" href="{% url 'provile:certificate' %}">Add New Certificate</a></li><hr>
                      <li><a class="dropdown-item" href="{% url 'provile:experience' %}">Add New Experience</a></li>
                      <li><a class="dropdown-item text-danger" href="{% url 'authentication:signout' %}">logout</a></li>
                    </ul>
                  </div>
                  
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

    <section class="bg-black p-3 text-white">
      
      <div class="sectionSpace pt-0">
        <div class="container">
          <div class="row">
            <div class="col-md-auto bg-dark text-black p-3">
              <div class="keySkillCol bg-light p-3 w-100 ">
              
                <div class="keySkillCard">
                  <h1 class="xlTitle lgTitle p-3">Social Media</h1>
                  <hr>
                  {% for media in media %}
                  <ul>
                    {% if media.name == 'Facebook' %}
                    <li><a href="{{media.media_url}}" class="btn btn-outline-primary"><img src='{% static "images/fb.svg" %}' alt="Facebook"></a> | 
                      <a href="{% url 'provile:edite_media_url' media.id %}" class="btn btn-sm btn-outline-dark">Edite</a>
                      <a href="{% url 'provile:delete_media_url' media.id %}" class="btn btn-sm btn-outline-dark">Delete</a></li>
                    {% elif media.name == 'Instagram' %}
                  
                    <li><a href="{{media.media_url}}" class="btn btn-outline-danger "><img src='{% static "images/insta.svg" %}' alt="..."> </a> | 
                        <a href="{% url 'provile:edite_media_url' media.id %}" class="btn btn-sm btn-outline-dark">Edite</a>
                      <a href="{% url 'provile:delete_media_url' media.id %}" class="btn btn-sm btn-outline-dark">Delete</a>
                      </li>
                 
                    {% elif media.name == 'Twitter' %}
                    <li><a href="{{media.media_url}}" class="btn btn-outline-info "><img src='{% static "images/twitter.svg" %}' alt="...">  </a> |
                      <a href="{% url 'provile:edite_media_url' media.id %}" class="btn btn-sm btn-outline-dark">Edite</a>
                      <a href="{% url 'provile:delete_media_url' media.id %}" class="btn btn-sm  btn-outline-dark">Delete</a></li>
                  
                    {% elif media.name == 'LinkedIn' %}
                    <li><a href="{{media.media_url}}" class="btn btn-outline-success "><img src='{% static "images/linkedin.svg" %}' alt="..."> </a> |
                      <a href="{% url 'provile:edite_media_url' media.id %}" class="btn btn-sm btn-outline-dark">Edite</a>
                      <a href="{% url 'provile:delete_media_url' media.id %}" class="btn btn-sm btn-outline-dark">Delete</a></li>
                    {% endif %}
                  </ul>
                  {% empty %}
                  <h2 class="smTitle">let pepole contact with you <a href="{% url 'provile:media' %}" class="btn btn-outline-dark">Add contact</a></h2>
                  {% endfor %}
                </div>
                
              </div>
            </div>
            <div class="col-md bg-dark  text-white p-3">
              <h4 class="smTitle pb-3">Skills</h4>
              {% for skills in skills %}
              <div class="progressCol">
                <div class="progressCard">
                  <div class="progressCol">
                    <span class="progressLbl">{{skills.name|title}}</span>
                    <div class="row g-2 align-items-center">
                      <div class="col">
                        <div class="progress progressStyle">
                          <div class="progress-bar" role="progressbar" style="width: {{skills.score}}%" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                      </div>
                      <div class="col-auto">
                        <span class="pLbl">{{skills.score}}%</span>
                      </div>
                      <div class="col-auto">
                        <a href="{% url 'provile:edite_skill' skills.id %}" class="btn btn-sm btn-outline-light">Edite</a>
                        <a href="{% url 'provile:delete_skill' skills.id %}" class="btn btn-sm btn-outline-light">Delete</a>
                    </div>
                    </div>
                  </div>
                </div>
              </div>
              {% empty %}
              <div class="p-3">
                <h2 class="xlTitle pb-3">Add your skills and make your Profile more professional</h2>
                <a href="{% url 'provile:skill' %}" class="btn btn-outline-light ">Add Now</a>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
      
    </section>
    <section class="bg-black text-white">
        <div class="container">
          <div class="row pb-3">
            <div class="sliderOuter">
              <div class="swiper certificatesSlider">
                <div class="">
                  <div class="">
                      <h4 class="smText regular xlTitle bold">Qulifications</h4>
                    {% for i in certificates %}
                    <div class="cardStyle1 bg-dark text-white ">
                      <div class="row ">
                    
                        <div class="col-md">
                          <h4 class="mdTitle cs1Title"> {{i.title|title}} </h4>
                          <ul class="cardOptionCol">
                            <li><span class="dateLbl p-3">{{i.date|date:"j/N/Y"}}</span></li>
                            <li>{{i.name|title}}</li>
                            <li><a href="{% url 'provile:edite_certificate' i.id %}" class="btn btn-outline-light ">Edite</a></li>
                            <li><a href="{% url 'provile:delete_certificate' i.id %}" class="btn btn-outline-light ">Delete</a></li>
                          </ul>
                          <p>{{i.description}}</p>
                        </div>
                        <div class="col-md-auto">
                          <div class="portfolioImgCol">
                            <a href="{{i.images.url}}"><img src="{{i.images.url}}" alt="{{i.title}}", title="{{i.title}}"></a>
                          </div>
                        </div>
                      </div>
                    </div>
                    <hr>
                    {% empty %}
                    <div class="p-3">
                      <h2 class="xlTitle pb-3">I'm sure you have alot of Certificates, What you wait for! </h2>
                      <a href="{% url 'provile:certificate' %}" class="btn btn-outline-light ">Add Now</a>
                    </div>
                  {% endfor %}
                </div>
              </div>
            </div>            
          </div>
        </div>
      </div>
    </section>

    <section class="bg-black text-white">
        <div class="container">
          <div class="row pb-3">
            <div class="sliderOuter">
              <div class="swiper certificatesSlider">
                <div class="">
                  <div class="">
                      <h4 class="smText regular xlTitle bold">Experiences</h4>
                    {% for i in experiences %}
                    <div class="cardStyle1 bg-dark text-white ">
                      <div class="row ">
                    
                        <div class="col-md">
                          <h4 class="mdTitle cs1Title"> {{i.title|title}} </h4>
                          <ul class="cardOptionCol">
                            <li><span class="dateLbl p-3">From {{i.date_from|date:"j/N/Y"}} To {{i.date_to|date:"j/N/Y"}}</span></li>
                            <li>{{i.name|title}}</li>
                            <li><a href="{% url 'provile:edite_experience' i.id %}" class="btn btn-outline-light ">Edite</a></li>
                            <li><a href="{% url 'provile:delete_experience' i.id %}" class="btn btn-outline-light ">Delete</a></li>
                          </ul>
                          <p>{{i.description}}</p>
                        </div>
                        <div class="col-md-auto">
                          <div class="portfolioImgCol">
                            <a href="{{i.images.url}}"><img src="{{i.images.url}}" alt="{{i.title}}", title="{{i.title}}"></a>
                          </div>
                        </div>
                      </div>
                    </div>
                    <hr>
                    {% empty %}
                    <div class="p-3">
                      <h2 class="xlTitle pb-3">Do you emtployed before , or any training courses, add it now and make your profile fantastic. </h2>
                      <a href="{% url 'provile:experience' %}" class="btn btn-outline-light ">Add Now</a>
                    </div>
                  {% endfor %}
                </div>
              </div>
            </div>            
          </div>
        </div>
      </div>
    </section>

    <section>
    <div class="sectionSpace">
      <div class="container">
        <div class="testimonialCol">
          <h4 class="lgTitle bold regular d-block">My posts</h4>
          <div class="testimonialSlider">
            <div class="swiper testimonialSwiper">
              <div class="swiper-wrapper">
                {% for i in reports reversed %}
                  <div class="swiper-slide">
                    <div class="testimonialCard">
                      <div class="row align-items-center">
                        <div class="col-sm-auto">
                          <div>
                            <img src="{{user.author.avatar.url}}"  class="tImgCol" alt="avatar">
                          </div>
                        </div>
                        <div class="col-sm">
                          <div class="tContentCol">
                            <h4 class="xsTitle bold"><a href="{% url 'geology:report' i.id %}">{{i.title|title}}</a></h4>
                            <p>{{i.intro_repo}}</p>
                          </div>
                          <br><br>
                          <div class="col-auto">
                            <a href="{% url 'geology:repo_update' i.id %}" class="btn btn-sm btn-outline-dark">Edit</a>
                            <a href="{% url 'geology:repo_delete' i.id %}" class="btn btn-sm btn-outline-dark">Delete</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                {% empty %}
                  <div class="p-3 bg-dark text-white">
                    <h2 class="xlTitle pb-3">Most pepole looking for Knowldege, help them by a real POST  and helpfull information.</h2>
                    <a href="{% url 'geology:repo_form' %}" class="btn btn-outline-light ">Post Now</a>
                  </div>
                {% endfor %}
              </div>
              <div class="test-swiper-button-next swiper-button-next swiperBtnStyle"></div>
              <div class="test-swiper-button-prev swiper-button-prev swiperBtnStyle"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}