{% extends 'base.html' %}
{% load static %}
{% block bootstrap5 %}
    {% load django_bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
{%endblock%}
{% block title %}FAQ{% endblock %}
{% block header %}
    {% include 'nav.html' %}
{%endblock%}
{% block content %}
    <div class="bg-dark p-3">
        <div class="container bg-light p-3">
            {% include 'messages.html' %}
            <div class="row align-items-start">
                {% if faq_count == 0 %}
                {%else%}
                    <form action="{% url 'geology:faq_answered' %}" method=POST class="py-4">
                        {% csrf_token %}
                        <input type="search" name="search_faq">
                        <input type="submit" value="Search FAQ">
                    </form>
                    {% if search_faq %}
                    <hr>
                    
                    <div class="lgTitle">Related Answer for: {{search_faq}}:</div>
                    {% for i in faqs reversed %}
                    <div class="card bg-black text-warning p-3">
                        <div class="card shadow-sm bg-secondary ">
                            <div class="smTitle  p-2">{{i.question}}?</div><hr>
                            <div class=" p-2">{{i.answer|safe}}</div>
                        </div>
                    </div>
                    <hr>
                    {%empty%}
                    <p class="smTitle">No Question related to {{search_faq}}! </p>
                    {% if  user.is_authenticated  %}
                    <a href="{% url 'geology:faqform' %}" class="btn btn-outline-dark">Ask Us</a>
                    {% else %}
                    <p class="smText"> <a href="{% url 'authentication:signup' %}" class="btn btn-outline-info">Register</a> To Ask us</p>
                    {% endif %}
                    <hr>
                    {% endfor %}
                    
                    {% elif search_faq == empty %}
                        
                    {% else %}
                    <div class="card bg-dark p-3">
                        <p class="xlTitle text-warning">Type your search</p>
                    </div>

                    {% endif %}
                {%endif%}
                {% if faq_count == 0 %}
                    {% if  user.is_authenticated  %}
                    <a href="{% url 'geology:faqform' %}" class="btn btn-outline-dark">Ask Us</a>
                    {%else%}
                    <p class="smText"> <a href="{% url 'authentication:signup' %}" class="btn btn-outline-info">Register</a> To Ask us</p>
                    {%endif%}
                {%else%}
                <div class="smTitle bg-dark text-light p-3">Look for other users's questions</div>
                {%endif%}
                <ul class="list-unstyled">
                    <li class="my-2">
                {% for i in faq reversed %}
                        <div class="card shadow-sm bg-warning">
                            <button class="btn d-inline-flex align-items-center">{{i.question}}?</button>
                            <div class=" ps-3 bg-light " >
                                {{i.answer|safe}}
                            </div>
                        </div>
                        <hr>

                {% endfor %}
                    </li>
                </ul>

                
            </div>
        </div>
    </div>
{% endblock %}