<footer class="footer mt-auto py-3 bg-dark">
    <div class="container">
        <div class="row text-white">
            <div class="col">
                <p class="mb-1">Copyright &copy;{% now 'Y' %} All rights reserved.</p>
                <p class="float-end mb-1">
                    <a href="#">Back to top</a>
                </p>
            </div>
            <div class="col">
                <p  class="float-end mb-1"> Designed by <a href="https://geology-sd.onrender.com/profile/adminpage">Suhaib Taha</a> </p>
            </div>
        </div>
    </div>
</footer>