{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block title %}home{% endblock %}

{% block content %}

    <main>
        
        <div class="album py-5 bg-light">
            <div class="container">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    {% for report in reports %}
                        <div class="col">
                            <div class="card shadow-sm"> 
                            <img src="{{report.repo_img.url}}"  class="bd-placeholder-img card-img-top" width="50%" height="255" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/>  
                                <div class="card-body">
                                    <h2>{{report.title}}</h2>
                                    <div class="d-flex justify-content-between align-items-center">

                                        <div class="btn-group">
                                            <a href="{% url 'report' report.id %}"><button type="button" class="btn btn-sm btn-outline-secondary">View</button></a>
                                        </div>

                                        <small class="text-muted">{{report.pub_date}}</small>

                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    
    </main>

{% endblock %}